*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #cedbe5;
    padding: 26px;

}



.List{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.oyo{
    color: red;
    font-size: 25px;
    font-weight: 400;
    font-style: italic;

    text-decoration: underline;
    
    
}
.listcontent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    list-style: none;
}
.listcontent li{
    padding: 10px 15px;
}
.listcontent li a {
    text-decoration: none;
    color: black;
     font-weight: bold;
}
.listcontent li button{
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid white;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(170,45,253,1) 86%);
    
}
.main{
    padding-top: 30px;
    background-color: rgb(228, 224, 224);
}
.dropdown{
    display: flex;
    justify-content: space-around;
}
.dropdown li {
    list-style: none;
}
.london{
    padding: 20px;
    background-color: rgb(218, 216, 224);
}
.banner{
    height: 50vh;
    background-color: rgb(179, 12, 45);
   
}
.h1text{
     text-align: center;
     padding-top: 50px;
     color: white;
     font-weight: bold;
     font-size: larger;
    
}
.booking-form{
    display: flex;
    padding: 30px 10px;
    justify-content: space-around;
    align-items: center;
    
}
.booking-form div {
    margin-right: 20px;
    margin-bottom: 10px;
    
}


.searchcontainer{
   
    margin: 10px 80px;
    border: 2px solid rgb(206, 16, 76);
    background-color: white;
    align-items: center;
}
.input{
    outline: none;
    border: none;
    padding: 4px 0px;
}


/* main section1 design start*/
.section1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 60vh;
}
.image1{
    height: 10vh;
    width: 200px;
}
.image2{
    height: 10vh;
    width: 200px;
}
    